/* app.css */

body {
	min-width: 320px;
}

/* Helpful Background Classes */
.background-primary {
  background-color: #f79320;
}
.background-secondary {
  background-color: #907F6F;
}
.background-brown {
  background-color: #5C4731;
}

/* Helpful Foreground Classes */
.color-primary {
  color: #f79320;
}
.color-brown {
  color: #5C4731;
}
.color-white {
  color: #fff;
}

/* Icons */
footer .icon {
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 42px;
}

/* Navigation */
nav.mobile {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	overflow-y: auto;
}
	nav.mobile img {
		position: absolute;
		top: 0;
		left: 0;
		width: 180px;
	}

.right-off-canvas-toggle:before { 
	content:'\2630';
	font-size: 3em;
 }

nav.main ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
	nav.main ul li {
		display: inline-block;
		position: relative;
	}
		nav.main ul li a {
 		display: inline-block;
 		padding: 0.4rem 0.6rem;
 		font-weight: bold;
 		-webkit-transition: -webkit-background-color 500ms ease;
		-moz-transition: -moz-background-color 500ms ease;
		-ms-transition: -ms-background-color 500ms ease;
		-o-transition: -o-background-color 500ms ease;
		transition: background-color 500ms ease;
 	}
 	nav.main ul li a:hover {
 		background-color: #fff;
 		text-decoration: none;
 	}

 	/* Dropdown Styles */
 	nav.main ul li ul {
	    background: #fff;
	    list-style: none;
	    position: absolute;
	    right: 0;
	    text-align: left;
	    display: none;
	    z-index: 999;
	    color: #5C4731;
	    width: 12em;
	}
	nav.main ul li ul li {
		display: block;
		text-align: left;
	}
	nav.main ul li:hover { 
	    color: #f79320;
	}
 	nav.main ul li:hover ul { 
	    display: block;
	}
	nav.main ul li:hover a { 
	    background: #fff;
	}
	nav.main ul li:hover ul a { 
	    text-decoration: none;
	    font-size: 0.8rem;
	    display: block;
	}

nav.main h1, nav.mobile h1 {
	display: none;
}
nav.main img {
width: 240px;
}

.subscribe-panel {
	display: none;
}
	.subscribe-panel .button {
		padding: 0.55em;
	}
	.subscribe-panel.mobile {
		position: fixed;
		z-index: 1000;
	}

/* Image Slider Styles */
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: relative;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

.rslides .content {
	position: absolute;
	text-shadow: 0 0 8px #000;
}
.rslides .content h2, .rslides .content p {
	color: #fff;
}

/* Shared UI Styles */
.close {
	width: 25px;
	height: 25px;
	cursor: pointer;
}
	.close img {
		width: 100%;
		height: 100%;
	}