/* app.css */

/* Helpful Background Classes */
.background-primary {
  background-color: #f79320;
}
.background-secondary {
  background-color: #907F6F;
}
.background-brown {
  background-color: #5C4731;
}

/* Helpful Foreground Classes */
.color-primary {
  color: #f79320;
}
.color-brown {
  color: #5C4731;
}
.color-white {
  color: #fff;
}

/* Icons */
footer .icon {
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 42px;
}

/* Navigation */
nav.mobile {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	overflow-y: auto;
}

.right-off-canvas-toggle:before { 
	content:'\2630';
	font-size: 3em;
 }
