<div class="small-11 small-centered columns small-padding-top-4">

    <!-- Description -->
    <div class="medium-5 columns">
        <h3 class="color-primary border-primary-bottom small-margin-0">Flex</h3>
        <p class="text-smaller small-margin-top-1"><b>Rolled multicolor</b><br />It rolls on like ordinary paint, but it’s far from ordinary. Flex colors are tactile and natural with just a hint of movement to help conceal the imperfections in walls and feature spaces and keep them looking better longer-and with much less maintenance-than regular paints.</p>
    </div>

    <!-- Finish Data -->
    <div class="medium-7 columns">
        <h3 class="color-primary border-primary-bottom small-margin-0">Finish Data</h3>
        <div class="small-12 columns border-primary-bottom small-padding-0 small-margin-bottom-1 finish-data">

            <p class="small-12 columns text-smaller small-margin-0">
                <span class="small-5 columns small-padding-0">Coverage</span>
                <span class="small-7 columns small-padding-0">Up to 150 soft (10.2 sq/m2) per gallon</span>
            </p>

            <p class="small-12 columns text-smaller small-margin-0 border-primary-top">
                <span class="small-5 columns small-padding-0">Scrub Cycles</span>
                <span class="small-7 columns small-padding-0">3000 (ASTM D-2486)</span>
            </p>

            <p class="small-12 columns text-smaller small-margin-0 border-primary-top">
                <span class="small-5 columns small-padding-0">Equipt. Req.</span>
                <span class="small-7 columns small-padding-0">Roller</span>
            </p>

            <p class="small-12 columns text-smaller small-margin-0 border-primary-top">
                <span class="small-5 columns small-padding-0">VOC</span>
                <span class="small-7 columns small-padding-0">&lt;50 g/L</span>
            </p>
            
        </div>

    </div>

</div>