<div class="small-11 small-centered columns small-padding-top-1">

    <!-- Description -->
    <div class="medium-5 columns">
        <h3 class="color-primary border-primary-bottom small-margin-0">Light Vision</h3>
        <p class="text-smaller small-margin-top-1"><b>Glow-in-the-dark additive</b><br />Light Vision from Zolatone is a photo-luminescent additive that can be mixed with Zolatone paints and seamlessly applied in corridors, around exits, in stairwells and to other obstacles. When the lights are on it has the classic good looks of Zolatone, if the power fails, Light Vision emits a soft glow that can help guide people safely toward the exits.</p>
    </div>

    <!-- Finish Data -->
    <div class="medium-7 columns">
        <h3 class="color-primary border-primary-bottom small-margin-0">Finish Data</h3>
        <div class="small-12 columns border-primary-bottom small-padding-0 small-margin-bottom-1 finish-data">

            <p class="small-12 columns text-smaller small-margin-0">
                <span class="small-5 columns small-padding-0">Brightness Rating</span>
                <span class="small-7 columns small-padding-0">Very High - 70 mcd (Millicandela)</span>
            </p>

            <p class="small-12 columns text-smaller small-margin-0 border-primary-top">
                <span class="small-5 columns small-padding-0">Duration</span>
                <span class="small-7 columns small-padding-0">20-25 minutes</span>
            </p>

            <p class="small-12 columns text-smaller small-margin-0 border-primary-top">
                <span class="small-5 columns small-padding-0">Glow Color</span>
                <span class="small-7 columns small-padding-0">Green / Yellow</span>
            </p>

            <p class="small-12 columns text-smaller small-margin-0 border-primary-top">
                <span class="small-5 columns small-padding-0">Daytime Color</span>
                <span class="small-7 columns small-padding-0">Same as specified finish</span>
            </p>

            <p class="small-12 columns text-smaller small-margin-0 border-primary-top">
                <span class="small-5 columns small-padding-0">Charge Time</span>
                <span class="small-7 columns small-padding-0">12+ minutes with fluorescent light</span>
            </p>
            
        </div>

    </div>

</div>