<nav class="finishes small-margin-top-3 text-center">
    <ul>
        <li><a href="#/counterpointe">Counterpointe</a></li>
        <li><a href="#/lluminations">Lluminations</a></li>
        <li><a href="#/metal">Metal</a></li>
        <li><a href="#/polomyx">Polomyx</a></li>
        <li class="color-primary border-primary-bottom"><a href="#/polomyx-airless">Polomyx Airless</a></li>
        <li><a href="#/flex">Flex</a></li>
        <li><a href="#/light-vision">Light Vision</a></li>
    </ul>
</nav>

<div class="small-11 small-centered columns small-padding-top-4">

    <!-- Description -->
    <div class="medium-5 columns">
        <h3 class="color-primary border-primary-bottom small-margin-0">Polomyx Airless</h3>
        <p class="text-smaller small-margin-top-1"><b>Building standard economy</b><br />Polomyx Airless gives you the great look and repairability of Polomyx with a smaller particle size that allows for easy airless application. So when the job calls for multicolor but the timing and the budget demand speed and economy, Polomyx Airless is the ideal finish for you.</p>
    </div>

    <!-- Finish Data -->
    <div class="medium-7 columns">
        <h3 class="color-primary border-primary-bottom small-margin-0">Finish Data</h3>
        <div class="small-12 columns border-primary-bottom small-padding-0 small-margin-bottom-1 finish-data">

            <p class="small-12 columns text-smaller small-margin-0">
                <span class="small-5 columns small-padding-0">Coverage</span>
                <span class="small-7 columns small-padding-0">Up to 125 soft (13.1 sq/m2) per gallon</span>
            </p>

            <p class="small-12 columns text-smaller small-margin-0 border-primary-top">
                <span class="small-5 columns small-padding-0">Scrub Cycles</span>
                <span class="small-7 columns small-padding-0">3180 (ASTM D-2486)</span>
            </p>

            <p class="small-12 columns text-smaller small-margin-0 border-primary-top">
                <span class="small-5 columns small-padding-0">Equipt. Req.</span>
                <span class="small-7 columns small-padding-0">Airless Spray Equipment</span>
            </p>

            <p class="small-12 columns text-smaller small-margin-0 border-primary-top">
                <span class="small-5 columns small-padding-0">VOC</span>
                <span class="small-7 columns small-padding-0">&lt;60 g/L</span>
            </p>
            
        </div>

    </div>

</div>